*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --color-FFFFFF: #FFFFFF;
  --color-f4f7fc: #f4f7fc;
  --color-dfe7f2: #dfe7f2;
  --color-8fa4c3: #8fa4c3;
  --color-586c91: #586c91;
  --color-283347: #283347;
  --color-161d2b: #161d2b;
}

body{
  font-family: 'Barlow Semi Condensed', sans-serif;
}

a{
  text-decoration: none;
  display: inline-block;
}

.form-control:focus{
  box-shadow: none;
  border-color: inherit;
}

.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

.gap-30 {
  gap: 30px;
}
/*Header*/
.header-bottom{
  background-color: var(--color-f4f7fc);
}

.cart-count{
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
  margin-left: 10px;
  border-radius: 11px;
  font-size: 12px;
  background: #f0394d;
  color: white;
}

.header-bottom .menu-links a,
.header-bottom .dropdown button{
  color: var(--color-283347);
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  letter-spacing: 0.3;
  text-transform: uppercase;
  transition: color 0.3s, transform 0.3s;
}

.header-bottom .menu-links a:hover{
  color: var(--color-586c91);
  transform: scale(1.1);
}

.header-bottom .dropdown button:focus{
  box-shadow: none;
}

.header-bottom .dropdown-menu{
  background-color: var(--color-dfe7f2);
  width: 100%;
  transform: translate3d(0px, 57px, 0px) !important;
}

.header-bottom .dropdown-item{
  padding: 7px;
  margin-bottom: 3px;
  border-bottom: 1px solid var(--color-FFFFFF);
}

.header-bottom .dropdown-item:hover{
  background-color: transparent;
  color: var(--color-586c91) !important;
}
/*Header End*/

/*Footer*/
footer{
  background-color: var(--color-dfe7f2);
  padding-left: 70px;
  padding-right: 70px;
}

footer:not(:first-child){
  border-top: 1px solid var(--color-FFFFFF);
}
/*Footer End*/

/*Home*/
.home-wrapper{
  background-color: var(--color-f4f7fc);
}

.categories{
  background-color: white;
  box-shadow: 0 0 10px #0000001a;
  padding: 15px;
}

.categories > div{
  width: 20%;
}

.categories h6{
  color: var(--color-161d2b);
  font-weight: 700;
  text-transform: uppercase;
}

.card-wrapper{
  background-color: white;
  box-shadow: 0 0 10px #0000001a;
  padding: 15px;
}
/*Home End*/